# Core Web App
streamlit
pandas
numpy
requests
feedparser
# Database
pymongo
python-dotenv

# NLP & ML
transformers
torch
openai

# Web Scraping
beautifulsoup4
newspaper3k
lxml
html5lib

# Optional Visualization
matplotlib
plotly

# Date/Time Utilities
python-dateutil

# For web scraping (if you scrape news sites directly)
tqdm
git+https://github.com/JustAnotherArchivist/snscrape.git
praw
xgboost
scikit-learn
google-generativeai
ta
pytz